{% extends 'base.html.twig' %}

{% block title %}Episodes {% endblock %}

{% block body %}

    <div>

        <h2>{{ program.title }}</h2>

        <ul>
            <li>Numéro de la saison : {{ season.description }}</li>

            <li>Numéro et titre de l'épisode : {{ episode.number }} - {{ episode.title }}</li>

            <li>Résumé de l"épisode : {{ episode.synopsis }}</li>

        </ul>

    </div>

{% endblock %}
