{% extends 'base.html.twig' %}

{% block title %}Saisons {% endblock %}

{% block body %}

<h1>{{ season.description }} de {{ program.title }}</h1>

    <h2>Liste des épisodes</h2>
    <ul>

        {% for e in episodes %}

           <li><a href="{{ path("program_episode_show" , { id: program.id, seasonId: season.id, episodeId: e.id }) }}" >Episode : {{ e.number }} - {{ e.title }}</a></li>

        {% endfor %}

    </ul>

{% endblock %}
